.app {
  text-align: center;
  background-color: rgb(240,240,231, 0.5);
}

.header-style {
  text-align: center;
  background-color: rgb(240,240,231, 0.5);
}

.banner-image {
  width: 40%;
}

.main-image {
  width: 65%;
  border-style: double;
  border-width: medium;
  border-color: black;
}
