.app {
  text-align: center;
}

.header-style {
  text-align: center;
}

.banner-image {
  width: 500px;
}

.main-image {
  width: 65%;
  border-style: double;
  border-width: medium;
  border-color: black;
}

.main-image-venue {
  background: url('./images/backyard.jpg') center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  width: 100%;
  height: 630px;
}

.transbox {
  position: relative;
  top: 10%;
  background-color: #ffffff;
  opacity: 0.6;
  height: 80%;
  width: 100%;
  filter: alpha(opacity=60);
  text-align: center;
}

.save-the-date {
  background: url('./images/proof3.jpg') center;
  background-repeat: no-repeat;
  background-size: cover;
}

.transbox-sd {
  position: relative;
  background-color: #ffffff;
  opacity: 0.85;
  height: 100%;
  width: 350px;
  margin: 0 auto;
  filter: alpha(opacity=85);
  text-align: center;
}

.form-sd {
  padding-top: 24%;
  padding-bottom: 24%;
}

.day-of-text-large {
  padding-top: 1%;
  font-weight: normal;
  font-size: 1.7rem;
}

.day-of-text-medium {
  font-weight: normal;
  font-size: 1.35rem;
}

.day-of-text-small {
  font-weight: normal;
  font-size: 1.2rem;
}

.day-of-title {
  font-style: oblique;
  font-weight: bold;
  font-size: 2.5rem;
  padding-top: 5%;
}

#title-sd {
  font-style: oblique;
  font-weight: 350;
}

#venue {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

#eat {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

#winery {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

#stay {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

#downtown {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

#hike {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
